@import './lib/theme/breakpoints.scss';
@import './lib/theme/colors.scss';
@import './lib/theme/text.scss';
@import './lib/theme/spacing.scss';

*, *:before, *:after {
  -webkit-box-sizing:border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: white;
  z-index: 0;
  background-color: var(--color-bg-primary);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

a,p {
	color: var(--color-text-body);
	color: var(--color-text-body);
}

p {
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 300;
	font-size: var(--text-base);
	line-height: 150%;
	letter-spacing: 0.07em;
}

a {
	text-decoration: none;
	position: relative;
}

