 //#region colors
@import './lib/theme/breakpoints.scss';
 // Set border-box globally
*, *:before, *:after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
body {
 //Set our color vars for light mode
	--color-text-body: black;
	--color-bg-primary: white;
	--color-bg-card: #ffffffd9;
	--color-text-body: black;
	--color-rock-100: #1c1917;
	--color-rock-200: #403c39;
	--color-rock-300: #7d7b79;
	--color-pencil-100: #bdbdbd;
	--color-error: #D62828;
	--opacity-pencilbg: 1;
	--icon-filter: none;
	--color-rainbow: conic-gradient(
		from 180deg at 50% 50%,
		#d54a4a 0deg,
		#dcd756 63.75deg,
		#5cd777 123.75deg,
		#5accbe 187.5deg,
		#695acb 255deg,
		#c852db 316.87deg,
		#ff007a 360deg,
		#ca4887 360deg
	);
	--theme-icon: url('/dark-icon.svg');

  //Overwrite colors for dark mode
	&[data-theme='dark'] {
		--color-bg-primary: #303030;
		--color-bg-card: #0d0c0cd9;
		--color-text-body: #ffffff;
		--color-rock-100: #ffffff;
		--color-rock-200: #ffffff;
		--color-rock-300: #ffffff;
		--color-pencil-100: #494949;
		--opacity-pencilbg: 0.3;
		--icon-filter: brightness(0) invert(1);
		--theme-icon: url('/light-icon.svg');
	}

  // Set some globals on the body
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: white;
  z-index: 0;
  background-color: var(--color-bg-primary);
}

//TODO: delete me if nothing breaks
// @mixin rainbowBackground {
// 	background: conic-gradient(
// 		from 180deg at 50% 50%,
// 		#d54a4a 0deg,
// 		#dcd756 63.75deg,
// 		#5cd777 123.75deg,
// 		#5accbe 187.5deg,
// 		#695acb 255deg,
// 		#c852db 316.87deg,
// 		#ff007a 360deg,
// 		#ca4887 360deg
// 	);
// }

//#endregion

//fonts
:root {
	--font-subheadline: 'Qwigley', cursive;
	--font-headline: 'Pragati Narrow', sans-serif;

	//font sizes
	--text-base: 1em;
	//mobile first ratio
	--text-scale: 1.35;
	@include xs {
		--text-scale: 1.44;
	}
	@include sm {
		--text-scale: 1.58;
	}

	//sizes
	--text-xs: calc((1em / var(--text-scale)) / var(--text-scale));
	--text-sm: calc(var(--text-xs) * var(--text-scale));
	--text-md: calc(var(--text-sm) * var(--text-scale) * var(--text-scale));
	--text-lg: calc(var(--text-md) * var(--text-scale));
	--text-xl: calc(var(--text-lg) * var(--text-scale));
	--text-xxl: calc(var(--text-xl) * var(--text-scale));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale));

	//spacing
	--spacing-scale: 0.11rem;
	@include sm {
		--spacing-scale: 0.125rem;
	}

	--spacing-multiplyer: 1.4;
	--s-1: calc(var(--spacing-scale) * var(--spacing-multiplyer));
	--s-2: calc(var(--s-1) * var(--spacing-multiplyer));
	--s-3: calc(var(--s-2) * var(--spacing-multiplyer));
	--s-4: calc(var(--s-3) * var(--spacing-multiplyer));
	--s-5: calc(var(--s-4) * var(--spacing-multiplyer));
	--s-6: calc(var(--s-5) * var(--spacing-multiplyer));
	--s-7: calc(var(--s-6) * var(--spacing-multiplyer));
	--s-8: calc(var(--s-7) * var(--spacing-multiplyer));
	--s-9: calc(var(--s-8) * var(--spacing-multiplyer));
	--s-10: calc(var(--s-9) * var(--spacing-multiplyer));
	--s-11: calc(var(--s-10) * var(--spacing-multiplyer));
	--s-12: calc(var(--s-11) * var(--spacing-multiplyer));
	--s-13: calc(var(--s-12) * var(--spacing-multiplyer));
	--s-14: calc(var(--s-13) * var(--spacing-multiplyer));
	--s-15: calc(var(--s-14) * var(--spacing-multiplyer));
}

//#region: gobals

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

p {
	color: var(--color-text-body);
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 300;
	font-size: var(--text-base);
	line-height: 150%;
	letter-spacing: 0.07em;
}

a {
	color: var(--color-text-body);
	text-decoration: none;
	position: relative;
}

//#endregion globals
